<!DOCTYPE html>
<html lang="en">

<head>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Compimedic Solutions",
  "url": "https://www.compimedic.com",
  "description": "Compimedic merupakan distributor alat kesehatan, medis, dan menyediakan berbagai kebutuhan untuk rumah sakit, klinik, dan penggunaan pribadi.",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.compimedic.com/?search={search_term_string}",
    "query-input": "required name=search_term_string"
  },
  "hasPart": [
    {
      "@type": "WebPage",
      "name": "About Us",
      "url": "https://www.compimedic.com/p/about-us"
    },
    {
      "@type": "WebPage",
      "name": "Store",
      "url": "https://www.compimedic.com/shop"
    },
    {
      "@type": "WebPage",
      "name": "Mitra",
      "url": "https://www.compimedic.com/p/mitra"
    }
  ]
}
</script>
<meta name="google-site-verification" content="Qfqbxmnm5dLOKU1yYllKV6GngIUi-a57gjsAWzpLbNM" />
</head>

<body>

<!-- card popup -->
{% include busnamecard.html %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentURL = window.location.href;
        var urlParams = new URLSearchParams(window.location.search);

        // Cek apakah URL mengandung 'showModal=true'
        if (urlParams.get('showModal') === 'true') {
            // Tampilkan modal
            document.getElementById('airpodsModal').classList.remove('hidden');
            
            // Hapus query parameter dari URL setelah modal muncul
            urlParams.delete('showModal');
            window.history.replaceState({}, '', currentURL.split('?')[0]);
        }

        // Event listener buat tombol Cancel
        document.getElementById('cancelButton').addEventListener('click', function() {
            // Cuma tutup modal, tanpa nyimpen status di localStorage
            document.getElementById('airpodsModal').classList.add('hidden');
        });
    });
</script>
<!-- end popup card -->


{% include hero-index.html %}

{% include semua-mitra.html %}

{% include mitra-utama.html %}

{% include topblog.html %}


<script src="https://cdn.tailwindcss.com"></script>
<script>
    const tham = document.querySelector(".tham");

    tham.addEventListener('click', () => {
        tham.classList.toggle('tham-active');
    });
</script>

<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
<!-- end footer -->

</body>
</html>