---
layout: utama
title: Compimedic Solutions
---

<head>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Compimedic Solutions",
  "url": "https://www.compimedic.com",
  "description": "Compimedic merupakan distributor alat kesehatan, medis, dan menyediakan berbagai kebutuhan untuk rumah sakit, klinik, dan penggunaan pribadi.",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.compimedic.com/?search={search_term_string}",
    "query-input": "required name=search_term_string"
  },
  "hasPart": [
    {
      "@type": "WebPage",
      "name": "About Us",
      "url": "https://www.compimedic.com/p/about-us"
    },
    {
      "@type": "WebPage",
      "name": "Store",
      "url": "https://www.compimedic.com/shop"
    },
    {
      "@type": "WebPage",
      "name": "Mitra",
      "url": "https://www.compimedic.com/p/mitra"
    }
  ]
}
</script>
</head>

<body>

{% include darkmode.js %}

{% include header.html %}

{% include hero-index.html %}

{% include semua-mitra.html %}

{% include mitra-utama.html %}

{% include topblog.html %}

{% include footer.html %}

<script src="https://cdn.tailwindcss.com"></script>
<script>
    const tham = document.querySelector(".tham");

    tham.addEventListener('click', () => {
        tham.classList.toggle('tham-active');
    });
</script>

<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
<!-- end footer -->

</body>