body {
             font-family: "Didact Gothic", sans-serif;
            background-color: white;
            color: #051C2C;
            text-decoration: none;
            padding-top: 5rem;
            padding-bottom: 0px;
            user-select: none;
        }

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
    .gallery {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(10, 80vw);
      grid-template-rows: 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      overflow: scroll;
      height: 90vh;
      scroll-snap-type: both mandatory;
      scroll-padding: 1rem;
    }

    .gallery li {
      width: 100%;
      background-size: cover;
      background-position: center;
      height: 300px; /* Bisa lu adjust sesuai kebutuhan */
      scroll-snap-align: center;
      display: inline-block;
      border-radius: 3px;
      font-size: 0;
    }

    .active {
      scroll-snap-type: unset;
    }

    @media (min-width: 768px) {
      .gallery li {
        height: 100vh;
      }
    }
@keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        #toast-interactive {
            display: none; /* Sembunyikan secara default */
            position: fixed;
            bottom: 1rem; /* Jarak dari bawah */
            right: 1rem;  /* Jarak dari kanan */
            z-index: 9999; /* Pastikan toast berada di atas elemen lain */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
            max-width: 300px; /* Pendekkan toast */
            backdrop-filter: blur(10px) saturate(180%);
            background: rgba(255, 255, 255, 0.5);
            opacity: 0;
            animation: slideInFromRight 0.5s forwards; /* Apply animation */
        }
    

<script>
  document.addEventListener('contextmenu', function(e) {
    e.preventDefault();
  });
  document.addEventListener('keydown', function(e) {
    // Mencegah penggunaan shortcut seperti Ctrl+C
    if (e.ctrlKey && (e.key === 'c' || e.key === 'v' || e.key === 'x')) {
      e.preventDefault();
    }
  });
</script>