
<div class="card">
   <div class="card-image">
     <a href="{{ page.link }}" class="product-link" target="_blank">
       <img src="{{ page.image }}" alt="" />
     </a>
   </div>
   <div class="card-content">
     <div class="card-discount">{{ page.discount }}</div>
     <a href="{{ page.link }}" class="card-title" target="_blank">{{ page.title }}</a>
     <ul class="card-details">
       <li class="card-location">{{ page.location }}</li>
       <li class="card-preorder">{{ page.preorder }}</li>
     </ul>
     <div class="card-footer">
       <p class="card-price">Rp. {{ page.price }}</p>
       <button type="button" class="add-to-cart-btn" onclick="sendWhatsAppMessage('{{ page.title }}')">
         <!-- SVG for WhatsApp -->
       </button>
     </div>
   </div>
 </div>