<!-- content -->

<section>
    <div class="gap-8 items-center py-8 px-0 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
<!-- mitra kami -->
<section class="mitra-kami">
  <div class="center-planet1">
    <div class="center-planet">
<img src="https://raw.githubusercontent.com/EdilAhtera/compimedic/main/img/1721568418869.png" alt="Image" width="auto" height="60">
</div>
    <div class="planet">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Logo_Baru_Pelindo_%282021%29.png/640px-Logo_Baru_Pelindo_%282021%29.png" alt="Pelindo Logo" width="70" height="auto">
</div>
    <div class="planet">
<img src="https://mayapadahospital.com/assets/logo/mayapada-color.png" style="width: 80px; height: auto" alt="Logo Mayapada">
</div>
    <div class="planet">
<img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Logo_PLN.svg" alt="Logo PLN" width="auto" height="22">
</div>
    <div class="planet">
<img src="https://static.rsmurniteguh.app/sites/Images/Content/Logo_Murni_Teguh_Hospitals.png" alt="Logo Murni Teguh Hospitals" width="auto" height="32">
</div>
    <div class="planet">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Siloam_Hospitals.svg/1600px-Siloam_Hospitals.svg.png?20210602112327" alt="Siloam Hospitals Logo" width="auto" height="22">
</section>
<!-- end mitra kami -->
        <div class="mt-4 md:mt-0 px-4">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-[#3396bb] ">Bringing the Best Healthcare Solutions</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg">At Compimedic, we are dedicated to bringing you the best healthcare solutions by offering a comprehensive range of top-quality medical equipment and services. Our commitment to excellence ensures that you have access to the latest innovations and reliable products that enhance your health and wellbeing. We work closely with healthcare professionals to provide tailored solutions that meet your specific needs, ensuring optimal performance and satisfaction.</p>
        </div>
    </div>
</section>
<!-- end content -->