<div class="fixed bottom-0 left-0 z-50 w-full h-14 bg-white border-t border-gray-200 sm:hidden">
    <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
        <a id="home-btn" href="/compimedic/shop" class="inline-flex flex-col items-center justify-center px-4 group">
            <svg class="w-4 h-4 mb-1 bi bi-box2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3zM7.5 1H3.75L1.5 4h6zm1 0v3h6l-2.25-3zM15 5H1v10h14z"/>
            </svg>
            <span class="text-xs">store</span>
        </a>
        <a id="wallet-btn" href="/wallet" class="inline-flex flex-col items-center justify-center px-4 group">
            <svg class="w-4 h-4 mb-1 bi bi-book-half" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
            </svg>
            <span class="text-xs">Wallet</span>
        </a>
        <button id="settings-btn" type="button" class="inline-flex flex-col items-center justify-center px-4 group">
            <svg class="w-4 h-4 mb-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12.25V1m0 11.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M4 19v-2.25m6-13.5V1m0 2.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M10 19V7.75m6 4.5V1m0 11.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM16 19v-2"/>
            </svg>
            <span class="text-xs">Settings</span>
        </button>
        <button id="profile-btn" type="button" class="inline-flex flex-col items-center justify-center px-4 group">
            <svg class="w-4 h-4 mb-1 bi bi-cart-check" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
               <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>
            <span class="text-xs">Profile</span>
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('a, button');
        const currentPath = window.location.pathname;

        buttons.forEach(button => {
            button.addEventListener('click', function() {
                buttons.forEach(btn => {
                    btn.classList.remove('bg-[#3396bb]', 'text-white');
                    btn.querySelector('svg').classList.remove('text-white');
                    btn.querySelector('span').classList.remove('text-white');
                    btn.querySelector('svg').classList.add('text-[#3396bb]');
                    btn.querySelector('span').classList.add('text-[#3396bb]');
                });

                this.classList.add('bg-[#3396bb]', 'text-white');
                this.querySelector('svg').classList.remove('text-[#3396bb]');
                this.querySelector('span').classList.remove('text-[#3396bb]');
                this.querySelector('svg').classList.add('text-white');
                this.querySelector('span').classList.add('text-white');
            });
        });

        // Buat nge-check kalo lagi di halaman /product
        if (currentPath === '/compimedic/shop') {
            const homeBtn = document.getElementById('home-btn');
            homeBtn.classList.add('bg-white', 'text-[#3396bb]');
            homeBtn.querySelector('svg').classList.remove('text-white');
            homeBtn.querySelector('span').classList.remove('text-white');
            homeBtn.querySelector('svg').classList.add('text-[#3396bb]');
            homeBtn.querySelector('span').classList.add('text-[#3396bb]');
        }


// Buat nge-check kalo lagi di halaman /compimedic/product atau /compimedic/product/?...
    if (currentPath.startsWith('/compimedic/product')) {
        const homeBtn = document.getElementById('home-btn');
        homeBtn.classList.add('bg-white', 'text-white');
        homeBtn.querySelector('svg').classList.remove('text-white');
        homeBtn.querySelector('span').classList.remove('text-white');
        homeBtn.querySelector('svg').classList.add('fill-[#3396bb]');
        homeBtn.querySelector('span').classList.add('text-[#3396bb]');
    }

    });
</script>