<!-- blog -->
<div class="overflow-x-auto p-2">
  <div class="flex gap-4 justify-center min-w-max p-2">
    {% for item in site.pinindex %}
    <!-- Card -->
    <div class="relative w-[224px] h-[280px] rounded-lg overflow-hidden" style="box-shadow: 0 5px 20px rgba(51, 150, 187, 0.2);">
      <a href="{{ item.link }}" target="_blank">
        <img class="w-full h-full object-cover" src="{{ item.img }}" alt="Judul Card">
        <div class="absolute inset-0 bg-gradient-to-t from-white via-white/60 to-transparent"></div>
        <div class="absolute bottom-0 p-3 bg-gradient-to-t from-white via-white/70 to-transparent">
          <p class="font-semibold text-xs text-[#3396bb]">{{ item.judul }}</p> <!-- Ukuran teks deskripsi diperkecil -->
        </div>
       <!-- Square Badge -->
<div class="absolute top-2 right-2 w-8 h-8  rounded flex items-center justify-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right text-white" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
  </svg>
</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<style>
/* Untuk webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* Untuk Firefox */
scrollbar-width: none;

/* Untuk Edge dan IE */
-ms-overflow-style: none;

@media (max-width: 639px) {
  .overflow-x-auto {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 640px) {
  .overflow-x-auto {
    overflow-x: hidden;
  }

  .min-w-max {
    min-width: calc(224px * 3 + 16px * 2 + 16px * 2); /* 3 cards with 16px gap each and padding */
  }
}

/* Styling untuk square badge */
.absolute.top-2.right-2.w-8.h-8.bg-[#f8f8f8] {
  /* Sudah ditetapkan di HTML, jadi mungkin tidak perlu tambahan styling */
}
</style>
<!-- end blog -->