<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">    
<title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/styles.css" | relative_url }}">
      <!-- Favicon -->
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/EdilAhtera/compimedic/main/logo-compimedic.png">
    <!-- link -->
 <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="./tailwind.config.js">
  <link href="./server.js">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"  rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Didact+Gothic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../style.css">
<a href="{{ site.baseurl }}/{{ page.title | slugify }}/">{{ page.title }}</a>
    <!-- favicon Js -->
    <script>
        function setFavicon(url) {
            let link = document.createElement('link');
            let oldLink = document.getElementById('favicon');
            link.id = 'favicon';
            link.rel = 'icon';
            link.href = url;
            if (oldLink) {
                document.head.removeChild(oldLink);
            }
            document.head.appendChild(link);
        }
        setFavicon('https://raw.githubusercontent.com/EdilAhtera/compimedic/main/logo-compimedic.png');
    </script>
<!-- end favicon Js -->

</head>
<body>
    {% include header.html %}
    <main>
            {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>
